<app-navbar></app-navbar>
<main class="container">
    <div class="bg-light p-5 rounded">
        
        <div class="text-center px-5 pb-5">
            <h1 id="logo"><i class="fa-solid fa-link"></i> Minilink</h1>
        </div>
        <p class="lead">Un sencillo acortador de URL's 🔗</p>      
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Acorta tus enlaces</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Pega la url y dale click al botón "Acortar" para obtener tu url corta.
                </p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Acortar</button>
                </div>

            </div>
        </div>  
        
    </div>
    
    
</main>
<app-footer></app-footer>